body {
      background-color: rgb(202, 202, 255);  
}

header {
        text-align: center;
}

#itens {
        width: 120px;
}

section {
         background-color: white;   
         border-radius: 10px;
         padding: 10px;
         width: 500px;
         margin: auto;
         box-shadow: 3px 3px 5px black;
}

footer {
        text-align: center;   
        font-style: italic;
}