body {
      background-color: rgb(196, 196, 239);
}

header {
        text-align : center;
}
#text00 {
         width: 100px;
}

#text01 {
        width: 100px;
}
#text02 {
         width: 100px;
}

#text03 {
         width: 100px;
}



section {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        width: 500px;
        margin: auto;
}

footer {
        text-align: center;
        font-style: italic
}

