body {
      background-color:rgb(255, 255, 173);
}
#res02 {
        padding-top: 20px;
        width: 10px;
}


#itens01 {
          min-height: 100%;
          margin-left: 95px;
}

#itens02 {
           width: 800px;
           height: 185px;
           margin-top: -300px;
}

header {
        text-align: center;
}

input {
        width: 50px
}

section {
         background-color:  white;
         border-radius: 10px;
         margin: auto;
         padding:10px;
         width: 900px;
         height: 300px;
         box-shadow: 5px 5px 7px black;
}

footer {
        text-align: center;
        font-style: italic;
        margin: 1%;
}