body {
      background-color: rgb(255, 179, 107)
}

header {
        text-align: center;
}

#res02 {
        margin-top: 30px;
}

section {
         font: normal 15pt arial;
         background-color: white;
         border-radius: 10px;
         padding: 10px;
         box-shadow: 5px 5px 10px black;
         margin: auto;
         width: 450px;
         height: 490px;
}

footer {
        font-style: italic;
        text-align: center;
        margin: 30px;
}